In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Compare UKB SNPs to GWAS SNPS

In [2]:
# load ukb snps 
gene_bim_file = "/cluster/project/beltrao/gankin/vnn/data/ukb_gene.bim"
gene_bim_df = pd.read_csv(gene_bim_file, sep='\t')
gene_bim_df

/scratch/tmp.12569293.dgankin/ipykernel_3739378/1041093458.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  gene_bim_df = pd.read_csv(gene_bim_file, sep='\t')

,chrom,snp,cm,pos,a1,a2,snp_bed_id,gene_id,gene_name,gene_bed_id,maf
0,1,rs13303101,0,862124,A,G,27,ENSG00000187634,SAMD11,0,0.036410
1,1,rs13303101,0,862124,A,G,27,ENSG00000268179,AL645608.1,1,0.036410
2,1,rs192998324,0,862772,A,G,28,ENSG00000187634,SAMD11,0,0.029430
3,1,rs192998324,0,862772,A,G,28,ENSG00000268179,AL645608.1,1,0.029430
4,1,rs55678698,0,864490,C,T,29,ENSG00000187634,SAMD11,0,0.037360
...,...,...,...,...,...,...,...,...,...,...,...
457958,MT,Affx-34461837,0,15758,A,G,805401,ENSG00000198727,MT-CYB,19216,0.018760
457959,MT,Affx-79381713,0,15784,T,C,805402,ENSG00000198727,MT-CYB,19216,0.009875
457960,MT,Affx-89025698,0,15812,G,A,805403,ENSG00000198727,MT-CYB,19216,0.008532
457961,MT,Affx-79381714,0,15833,C,T,805404,ENSG00000198727,MT-CYB,19216,0.018180
457962,MT,Affx-89025667,0,15884,G,A,805405,ENSG00000198727,MT-CYB,19216,0.013100

In [3]:
gene_bim_df[["snp","snp_bed_id"]].drop_duplicates()

                  snp  snp_bed_id
0          rs13303101          27
2         rs192998324          28
4          rs55678698          29
6           rs2340588          30
8         rs146327803          31
...               ...         ...
457958  Affx-34461837      805401
457959  Affx-79381713      805402
457960  Affx-89025698      805403
457961  Affx-79381714      805404
457962  Affx-89025667      805405

[429371 rows x 2 columns]

In [15]:
gwas_snps = pd.read_csv("/cluster/project/beltrao/gankin/vnn/geno_vnn/sample/significant_snps_large_ukb_all.csv")
#gwas_snps = pd.read_csv("/cluster/project/beltrao/gankin/vnn/geno_vnn/sample/significant_snps_ukb_all.csv")
#gwas_snps = pd.read_csv("/cluster/project/beltrao/gankin/vnn/geno_vnn/sample/significant_snps_ukb.csv")

In [16]:
gwas_snps

             snp  snp_bed_id
0      rs8030394      623665
1     rs10873406      604192
2      rs3130014      290909
3     rs71488291      510233
4      rs2981579      474213
..           ...         ...
309   rs34877263      605694
310   rs61755581      593011
311  rs115988318      213559
312    rs7222250      676594
313   rs41283425      676581

[314 rows x 2 columns]

In [17]:
len(set(gene_bim_df.snp).intersection(set(gwas_snps.snp)))

190